body {
  background-size: cover;
  background-image: url('https://static1.squarespace.com/static/5344326de4b0deb58c8cef63/t/55854ce1e4b000108a4c08cf/1434720928041/ECU+Background.jpg?format=1500w');
  font-family: 'UnifrakturCook', cursive;
}

button {
font-family: 'UnifrakturCook', cursive;
}

input {
  font-family: 'UnifrakturCook', cursive;
}

audio {
  opacity: 0;
}
