body {
  background-size: cover;
  background-image: url('https://static1.squarespace.com/static/5344326de4b0deb58c8cef63/t/55854ce1e4b000108a4c08cf/1434720928041/ECU+Background.jpg?format=1500w');
  font-family: 'UnifrakturCook', cursive;
  color: FireBrick;
  margin-left: 40px;
}

#total {
  color: black;
}

button {
font-family: 'UnifrakturCook', cursive;
border-radius: 4px;
background-color: SaddleBrown;
color:yellow;
}

input {
  font-family: 'UnifrakturCook', cursive;
  border: SaddleBrown;

}

input:focus{
  outline-color: yellow;
}

audio {
  opacity: 0;
}

img {
  height:5%;
  width:5%;
}
